
<div class="dialog-wrapper" (click)="clickDialog()">
    <div class="dialog-user-profile">
        <app-profile [userImg]="chatData.img"></app-profile>
    </div>

    <div class="dialog-message">
        <h2 class="dialog-name">
            {{ chatData.firstName + ' ' + chatData.lastName }} 
        </h2>

        <div *ngIf="lastMessage">
            <p class="dialog-text">{{ lastMessage.content }}</p>
        </div>
        
    </div>

    <div *ngIf="lastMessage" class="dialog-time">
        <span class="time">{{ lastMessage.created | date: 'HH:mm' }}</span>
    </div>
</div>