@import '../../../variables';

:host {
    width: 33%;
}

.sidebar-wrapper {
    background-color: $white;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-right: 0.1rem solid $transparent-grey-1;
}
