@import '../../../variables';


.header-wrapper {
    background-color: $white-2;
    height: 7.5rem;
    border-bottom: 0.1rem solid $transparent-grey-1;
    border-top-left-radius: 2rem;
}

.header-container {
    min-height: 50%;
    width: 95%;
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
}

.logout-logo {
    position: absolute;
    right: 0;
}